*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    background-color: #dfdfdf;
    height: 100vh;
}

.container{
    display: flex;
    width: 80%;
    height: 65vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-cont{
    width: 80%;
    position: relative;
    /* display: none; */
}

.item{
    height: 100%;
    display: none;
}

.main-cont .img-text{
    width: 60%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    color: white;
}

.slider{
    position: relative;
    width: 20%;
}

.img-container{
    position: relative;
    height: 20%;
}

/* .img-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
} */


img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.active{
    display: block;
}

.selected{
    border: 2px solid lightgray;
    background-color: rgba(0,0,0,0);
}

/* frecce */
.arrow{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dfdfdf;
    padding: 5px;
    border-radius: 50%;
    z-index: 999;
}

.up{
    top: 10px;    
}

.down{
    bottom: 10px;
}

/* ******* debug ********* */

/* .debug .slider{
    background-color: bisque;

} */

/* .debug .main-cont{
    height: 100%;
    background-color: cadetblue;
} */

/* .debug .scroll-img{
    height: 100%;
    background-color: cornflowerblue;
} */

/* .debug .img-container{
    background-color: #abcbac;
    border: 1px solid black;
} */