<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Vue Carosello js</title>
</head>
<body class="debug">
    
    <div id="root">
        <div class="main-container">

            <div class="container">
    
                <div class="main-cont">
                    <div class="item active" v-for="elemento in elementi">
                        <img :src="elemento.immagine" :alt="elemento.titolo">
                        <div class="img-text">
                            <h1>{{elemento.titolo}}</h1>
                            <p>{{elemento.testo}}</p>
                        </div>
                    </div>
                    
                </div>
    
                <div class="slider">
    
                    <!-- frecce -->
                    <button class="arrow up"><i class="fas fa-chevron-up"></i></button>
                    <button class="arrow down"><i class="fas fa-chevron-down"></i></button>
    
                    <!-- immagini -->
                    <div class="img-container" v-for="elemento in elementi">
                        <div class="overlay"></div>
                        <img :src="elemento.immagine" :alt="elemento.titolo">
                    </div>
                    <!-- <div class="img-container">
                        <div class="overlay"></div>
                        <img src="img/02.jpg" alt="Svizzera">
                    </div>
                    <div class="img-container">
                        <div class="overlay"></div>
                        <img src="img/03.jpg" alt="Gran Bretagna">
                    </div>
                    <div class="img-container">
                        <div class="overlay"></div>
                        <img src="img/04.jpg" alt="Germania">
                    </div>
                    <div class="img-container">
                        <div class="overlay"></div>
                        <img src="img/05.jpg" alt="Paradise">
                    </div> -->
                </div>
    
            </div>
    
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/vue-script.js"></script>
</body>
</html>